*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Spaziatura */


header{
    height: 80px;
    background-color: burlywood;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-container > ul{
    display: flex;
    gap: 30px;
}

.header-container ul li{
    list-style-type: none;
}

.link{
    padding: 5px;
    background-color: #0464fc;
    color: white;
    text-decoration: none;
}

/* Main */
.jumbotron{
    height: 700px;
    background-color: #b4d0e6;
}

.jumbotron > .big-container{
    width: 1200px;
    margin: 0 auto;
    height: 400px;
    display: flex;
}

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}


.text{
    width: 400px;
    background-color: #3491db;
}

.img{
    width: 800px;
    background-color: red;
}
