*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mar-right{
    margin-right: 40px;
}

/* Spaziatura */


header{
    height: 50px;
    background-color: burlywood;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.header-container > ul{
    display: flex;
    gap: 30px;
}

.header-container ul li{
    list-style-type: none;
}

.link{
    padding: 5px;
    background-color: #0464fc;
    color: white;
    text-decoration: none;
}

/* Main */
.jumbotron{
    height: 700px;
    background-color: #b4d0e6;
}

.jumbotron > .big-container{
    width: 1200px;
    margin: 0 auto;
    height: 400px;
    display: flex;
}

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}


.text{
    width: 400px;
    background-color: #3491db;
}

.img{
    width: 800px;
    background-color: red;
}

.mod-pay{
    display: flex;
    gap: 40px;
}
 .small-container {
    width: 1000px;
    margin: 0 auto;
}

.col{
    height: 950px;
    border: 1px solid grey;
    width: 33%;
    background-color: #b4d0e6;
    margin-top: 50px;
}

.target {
    padding: 10px 40px;
    text-align: center;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

.container .row > .col{
    height: 250px;
    width: 1000px;
}

h1{
    width: 700px;
    text-align: left;
    margin: 0 auto;
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 50px;
}

hr {
    margin-top: 120px;
 }
