body{
    font-family: "Open Sans", serif;
}

/* Spaziatura */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mar-right{
    margin-right: 40px;
}

.mar-top{
    margin-top: 40px;
}

div > .list {
    padding-top: 30px;
}

.list > li {
    padding-bottom: 25px;
}

.utility .button {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
}
/* Spaziatura */

/* Containers */

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    width: 1000px;
    margin: 0 auto;
}
/* Containers */

/* Header */
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header > ul{
    display: flex;
    gap: 40px;
    align-items: center;
}

ul li{
    list-style-type: none;
}

header .button {
    padding: 5px 10px;
}

header a {
    text-decoration: none;
    color: #000000;
}
/* Header */

/* Jumbo */
.jumbotron{
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

.jumbotron .jumbo-full{
    display: flex;
}

.jumbotron .big-container{
    position: relative;
    top: 110px;
}

.jumbotron .jumbo-text{
    width: 30%;
    font-size: 14px;
}

.jumbotron .jumbo-img{
    width: 70%;
}

.arrowdown{
    font-size: 40px;
    margin-top: 50px;
}

.jumbo-full a{
    text-decoration: none;
}
/* Jumbo */

.mod-pay{
    display: flex;
    gap: 40px;
}

.target{
    padding: 10px 40px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.small-container .row > .col{
    height: 250px;
    width: 1000px;
}

 /* foto e testo */

 .partner .small-container{
    display: flex;
    margin-top: 300px;
 }

 .partner .text {
    padding-left: 50px;
    padding-right: 100px;
}

.partner .small-container .img{
    height: 500px;
    width: 500px;
    background-color: grey;
}

.partner .text, .partner .image {
    width: 50%;
}

.text > h3 {
    padding-bottom: 25px;
}

.small-container .text .button {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}

/* row  */

.row > .col {
    position: relative;
}

.row .col .mar-top {
    position: absolute;
    top: 30px;
    right: 30px;

}

/* Col */

.col-100{
    width: 100%;
}

.col-20{
    width: 20%;
}

.col-10{
    width: 10%;
}

.col{
    height:1100px;
    width: 33%;
    margin-top: 50px;
}

.border{
    border: 1px solid grey;
}
.col .list {
    padding-left: 30px;
}

.col .price {
    font-size: 12px;
    font-weight: bold;
}

.col .month {
    padding-top: 20px;
    font-size: 13px;
    color: #66676b;
}

/* Griglia Sei */

.operation .col{
    height: 500px;
}

hr{
    margin-top: 100px;
    border: 0.5px solid #999;
}

#invis-line{
    border: 0.8px solid rgba(211, 211, 211, 0.2);
}

.col > h3{
    padding-top: 0px;
    padding-bottom: 20px;
}

.n-utenti > h3 {
    font-size: 30px;
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 60px;
 }

 .small-container > .n-utenti{
    width: 700px;
 }

 /* Footer */

 footer{
    background-color: black;
    margin-top: 150px;
 }



.footer-info{
    padding: 70px 0;
}

.footer-info ul li{
    padding: 20px 0;
}

.italian .big-container{
    height: 120px;
    padding-top: 60px;
 }

 footer a{
    text-decoration: none;
    color: white;
}

/* Footer */

 /* utility */

 .button {
    display: inline-block;
    padding: 15px 18px;
    background-color: #0061fe;
    color: white;
}

img{
    display: block;
    max-width: 100%;
}

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
    align-content: center;
}
/* h */

h1{
    margin-bottom: 50px;
    font-size: 60px;
    width: 80%;
 }

h2 {
    font-size: 35px;
    margin-top:120px;
    padding-bottom: 70px;
}

h3 {
    padding-top: 35px;
    padding-bottom: 35px;
}

/* h */

.rule {
    display: inline-block;
    height: 60px;
    border-bottom: 1px solid #d0cfd4;
}

.solution {
    font-size: 12px;
    padding-left: 30px;
}

/* check list */
.tick li:first-child {
    font-size: 13px;
    font-weight: bold;
}

.tick i {
    color: #0062fe;
}
/* check list */

.margin-left-right{
    margin-left: 30px;
    margin-top: 20px;
}

.size{
    font-size: 28px;
}

.white-text{
    color:#fff;
}

.language i{
    color: grey;
}


